<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
  <div *ngFor="let repo of repos" class="rounded duration-300 hover:-translate-y-1">
    <h2 class="duration-300 font-bold text-lg text-sky-500 hover:text-sky-300">
      <a target="_blank" rel="noopener" [href]="repo.html_url">{{ repo.name }}</a>
    </h2>

    <div [innerHTML]="repo.description" class="mb-2"></div>
    
    <span *ngFor="let topic of repo.topics" class="bg-slate-700 inline-block lowercase text-xs mr-2 px-2.5 py-0.5 rounded">{{ topic }}</span>
  </div>
</div>